<div class="register-form">
  <h2>Registro de Usuario</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-field">
        <mat-form-field>
          <input matInput placeholder="Nombre de usuario" formControlName="username" required>
        </mat-form-field>
      </div>

      <div class="form-field">
        <mat-form-field>
          <input matInput type="password" placeholder="Contraseña" formControlName="password" required>
        </mat-form-field>
      </div>
    </div>

    <div class="form-row">
      <div class="form-field">
        <mat-form-field>
          <input matInput placeholder="Correo electrónico" formControlName="email" required>
        </mat-form-field>
      </div>

      <div class="form-field">
        <mat-form-field>
          <input matInput placeholder="Nombre" formControlName="firstName">
        </mat-form-field>
      </div>
    </div>

    <div class="form-row">
      <div class="form-field">
        <mat-form-field>
          <input matInput placeholder="Apellido" formControlName="lastName">
        </mat-form-field>
      </div>

      <div class="form-field">
        <mat-form-field>
          <input matInput placeholder="Dirección" formControlName="address">
        </mat-form-field>
      </div>
    </div>

    <div class="form-row">
      <div class="form-field">
        <mat-form-field>
          <input matInput placeholder="Número de teléfono" formControlName="phoneNumber">
        </mat-form-field>
      </div>
    </div>

    <button mat-raised-button color="primary" type="submit">Registrarse</button>
  </form>
</div>
