<div class="container">
  <h2>Listado de Conductores</h2>
  <div class="container container-flex">
    <div class="row">
      <div class="col">
        <mat-form-field appearance="fill" class="m20">
          <mat-label>Seleccionar Almacén</mat-label>
          <mat-select [(ngModel)]="selectedWarehouseId" (ngModelChange)="onSelectionChange()">
            <mat-option [value]="null">Seleccionar almacén</mat-option>
            <mat-option *ngFor="let warehouse of warehouses" [value]="warehouse.id">
              {{ warehouse.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="m20">
          <mat-label>Seleccionar Camión</mat-label>
          <mat-select [(ngModel)]="selectedTruckId" (ngModelChange)="onSelectionChange()">
            <mat-option [value]="null">Seleccionar camión</mat-option>
            <mat-option *ngFor="let truck of trucks" [value]="truck.id">
              {{ truck.brand }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>


  <table mat-table [dataSource]="driversDataSource" class="mat-elevation-z8">

    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef>{{ column | titlecase }}</th>
      <td mat-cell *matCellDef="let driver">
        <button mat-icon-button color="warn" *ngIf="column === 'actions'" (click)="deleteDriver(driver.id)">
          <mat-icon>delete</mat-icon>
        </button>
        <span *ngIf="column !== 'actions'">{{ driver[column] }}</span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>

  <button mat-button color="primary" routerLink="/createdriver">Crear Conductor</button>
  <button mat-button color="accent" (click)="goBack()">Regresar</button>
</div>
