.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 16px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
